# --- App & UI ---
streamlit==1.37.0
streamlit-pdf-viewer

# --- TensorFlow (VERSION CPU OBLIGATOIRE) ---
# On utilise tensorflow-cpu pour économiser 500Mo de RAM
tensorflow-cpu==2.15.0
tensorflow-hub>=0.16.1
tf-keras

# --- NLP / ML ---
# On laisse pip gérer les versions pour éviter les conflits
transformers
torch
numpy
scikit-learn

# --- PDF processing ---
PyPDF2
pdfplumber

# --- Firebase & Utils ---
firebase-admin
sib-api-v3-sdk
requests
matplotlib