# --- Base ---
streamlit>=1.37.0
streamlit-pdf-viewer
requests
numpy

# --- NLP & ML (On force les versions CPU pour économiser la RAM) ---
--extra-index-url https://download.pytorch.org/whl/cpu
torch
transformers

# --- TensorFlow (Version CPU uniquement) ---
tensorflow-cpu==2.15.0
tensorflow-hub
tf-keras

# --- PDF & Outils ---
PyPDF2
pdfplumber
matplotlib

# --- Services Externes ---
firebase-admin
sib-api-v3-sdk